{% load static %}
{% load tags %}

  {% include './head.html' %}
    <title>{{ request.user.username }}</title>
  </head>

    <body>
        {% include './navbar.html' %}  
        <div class="container">
            <div class="row my-2">
                <div class="col-lg-8 order-lg-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" data-target="#profile" data-toggle="tab" class="nav-link active">Perfil</a>
                        </li>

                        <li class="nav-item">
                            <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Editar</a>
                        </li>
                    </ul>

                    <div class="tab-content py-4">
                        <div class="tab-pane active"  id="profile">
                            <div class=" col-md-9 col-lg-9 "> 
                                <table class="table">  
                                    <tbody>
                                        <tr>
                                            <td><b>Nome de usuário</b></td>
                                            <td colspan="2">{{ request.user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Nome</b></td>
                                            <td colspan="2">{{ request.user.first_name }} {{ request.user.last_name }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Email</b></td>
                                            <td colspan="2">{{ request.user.email }}</td>   
                                        </tr>
                                        <tr>
                                            <td><b>Último login</b></td>
                                            <td colspan="2">{{ request.user.last_login }}</td>
                                        </tr>   
                                        <tr>
                                            <td><b>Entrou em</b></td>
                                            <td colspan="2">{{ request.user.date_joined }}</td>   
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div id ="posts" class="col-md-12">
                                <h6 class="mt-2">Tópicos: </h6>
                                <table class="table table-striped table-sm table-hover">
                                    <tbody>  
                                        {% for p in user_topicos %}                                  
                                            <tr>
                                                <td>
                                                    {{ p.titulo }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="edit">
                            <form enctype="multipart/form-data" class="form-control" method="POST"> 
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top:3%">Salvar</button>
                                <a class="btn btn-secondary btn-lg btn-block" href="/account/trocar_senha" role="button">Alterar senha</a> 
                            </form>      
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 order-lg-1 text-center">
                    <img {% if not request.user.avatar %} src="{% static 'forum/img/profile.png' %}" {% else %} src="{{ request.user.avatar.url }}"{% endif %} class="mx-auto img-fluid img-circle d-block" width="128" height="256" alt="avatar">
                </div>

            </div>
        </div>
    </body>
</html>