{% load static %}

  {% include './head.html' %}
    <title>Criar Tópico</title>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'forum/js/criar_topico.js' %}"></script>
  </head>

  <body>
    {% include './navbar.html' %}
    <div class = "wd-100 container">
      <button id = "dummy">asd</button>
      {% if user.is_authenticated %}
        <table id = "tabela" class="table table-dark">
          <form id = "criar_topico-form" class="form-control" method="POST">
            {% csrf_token %}
            <input name="autor" type = "hidden" value="{{ request.user.id }}">
            <input name="discussao_fk" type="hidden" value="{{ discussao.id }}">

            <thead>
              <tr>
                <th>
                  <div class = "form-group">
                    <label for ="titulo">Título: </label>
                    <input id = "titulo" type="text" class="form-control {% if request.method == 'POST' %}{% if form.titulo.errors %} is-invalid {% endif %}{% endif %}" name="titulo">
                    {% if request.method == 'POST' %}
                      {% if form.titulo.errors %}
                        <div id = "inv-titulo" class="invalid-feedback">{{ form.titulo.errors }}</div>
                      {% endif %}
                    {% endif %}
                  </div>
                </th>  
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <div class = "form-group">
                    <div id = "texto">{{ form.texto }}</div>

                    {% if request.method == 'POST' %}
                      {% if form.texto.errors %}
                        <span id = "inv-texto" class = "c-msg"><b>{{ form.texto.errors }}</b></span>
                      {% endif %}
                    {% endif %}
                    
                  </div>
                  <button id = "submit-topico" style = "margin-top:2%;" class="btn btn-lg btn-primary btn-block" type="submit">Postar tópico</button>
                </td>
              </tr>
            </tbody>
          </form>

      {% else %}
        <table id = "tabela" class="table table-dark">
          <thead>
            <tr>
              <th>
                <a href = "/?next={{request.path}}"><span style="color:red;">Você precisa estar logado para criar um tópico</span></a>
              </th>  
            </tr>
          </thead>
        </table>
      {% endif %}  
    </div>
  </body>
</html>
