{% load static %}
{% load tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <!--<link rel="icon" href="../../../../favicon.ico"> -->

    <title>Discussões</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/css/default.css' %}"rel="stylesheet">
    
  
    {% include './navbar.html' %}
  
  <div class = "wd-100 container" id = "container">
    
    
      <div id = "forum-lista">
          
        <table class="table table-hover table-dark ">
            
            <thead>
              
              <tr>
                <th><h4 class = "title">Discussões: </h4></th>
              </tr>
            </thead>
            <tbody>
                {% for d in discussao_lista %}
              <tr>
                <td><a href = "{{ d.titulo }}">{{ d.titulo }}</a>
                  
                
                
                
                </td>
                {% if quantidades|get_value_from_dict:d.titulo == 1 %}
                <td> {{ quantidades|get_value_from_dict:d.titulo }} Tópico</td>
                {% else %}
                <td> {{ quantidades|get_value_from_dict:d.titulo }} Tópicos</td>
                {% endif %}
                {% endfor %}
                
              </tr>
                 
            </tbody>
          </table>
          

      </div>





    










  </div>











  </html>
  