{% load static %}
{% load tags %}

  {% include './head.html' %}
    <title>Discussões</title>
  </head>
  
  <body>
    {% include './navbar.html' %}
    <div class = "wd-100 container" id = "container">
      <div id = "forum-lista">
        <table class="table table-hover table-dark ">
          <thead>
            <tr>
              <th>
                <h4 class = "title">Discussões: </h4>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for d in discussao_lista %}
              <tr>
                <td>
                  <a href = "{{ d.titulo }}">{{ d.titulo }}</a>
                </td>
              {% if quantidades|get_value_from_dict:d.titulo == 1 %}
                <td> 
                  {{ quantidades|get_value_from_dict:d.titulo }} Tópico
                </td>
              {% else %}
                <td>
                  {{ quantidades|get_value_from_dict:d.titulo }} Tópicos
                </td>
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
  