{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    
    <link rel="shortcut icon" href="#" />
    <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/css/default.css' %}"rel="stylesheet">

    <script src="{% static 'forum/js/jquery.js' %}"></script>
    <script src="{% static 'forum/js/popper.min.js' %}"></script>
    <script src="{% static 'forum/js/bootstrap.min.js' %}"></script>