{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>Login no forum</title>
    <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/css/default.css' %}"rel="stylesheet">
    <script src="{% static 'forum/js/jquery.js' %}"></script>
    <script src="{% static 'forum/js/login.js' %}"></script>
  </head>

  <body>
    <div class = "container-wd-100">
      <div id = "bounds">
        <img class = "logo" src="{% static 'forum/img/django-forum-logo.png' %}">

        {% if next %}
          <form id = "login-form" action="/?next={{next}}" class="form-control" method="POST">
        {%else%}
          <form id = "login-form" class="form-control" method="POST"> 
        {% endif %}
      
        {% csrf_token %}
        <div class = "form-group">
          <label for="username">Nome de usuário: </label>
          <input type="text" name="username" id="username" class="form-control" placeholder="Nome de usuário">
          <div id = "inv-username" class="invalid-feedback"></div>
        </div>

        <div class = "form-group">
          <label for="password">Senha: </label>
          <input name="password" type="password" id="password" class="form-control" placeholder="Senha">
          <div id = "inv-password" class="invalid-feedback"></div>
        </div>

        <a href = "{% url 'registrar' %}">Registrar-se?</a>

        <button id = "login" class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
        
        {% if messages %}
          {% for message in messages %}
          <span class = "c-msg">{{ message }}</span>
          {% endfor %}
        {% endif %}
        </form>
    
      </div>
    </div>
  </body>
</html>
