{% load static %}
<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/forum"><img class="d-inline-block align-top" src="{% static 'forum/img/django-forum-logo.png' %}" width="85" height="35" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}  
        <span class="navbar-text">
            Bem-vindo, {{ user.get_username }}.
          </span>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/?next={{request.path}}">Bem-vindo, visitante. Logue-se.</a>
        </li>
        {% endif %}
        
      </ul>
      <a href = "/logout"><button id = "btn-sair" type="button" class="btn btn-danger">Sair</button></a>
    </div>
  </nav>

 <br><br><br>