<table id = "tabela" class="table table-dark" >
            <thead >
              <tr>
                <th >
                    <label for="texto-original">{{ topico.autor  }}<br>Data da postagem: {{ topico.data_postagem }}<br><br></label>
                    <div id = "texto-orignal">{{ topico.texto|safe }} </div></th>
              </tr>
            </thead>
            <tbody>
              {% for r in resposta_lista %} 
              <tr>
                <td >
                    <div id = "resposta">
                            <label for="resposta">Autor: {{ r.autor }}<br>Data da postagem: {{ r.data_postagem }}</label>
                       <br>
                       {{ r.texto|safe }}

                    </div>
                </td>

              </tr>
              {% endfor %}
              {% if user.is_authenticated %}
              <form  class="form-control" method="POST">
                
                  {% csrf_token %}
                  <input name="topico_fk" type="hidden" value="{{ topico.id }}">
                  <tr>
                      <td>
                        <span style="font-weight: bold;">Digite sua resposta:</span>
                      </td>
                    </tr>
            <tr>
                  
              <td>
                      
                      <!-- <label for="autor">Autor: </label>

                      <input type="text" class="form-control" name="autor"> -->
                      <input name="autor" type = "hidden" value="{{ user.get_username }}">
                      <br>
                      <!--<label for="texto">Escreva sua resposta: </label>-->
                      
                      <div id = "texto" >{{ form.texto }}</div>
                      <!--<textarea class="form-control" rows="5" name="texto"></textarea>-->
                      
                  
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Postar resposta</button>
                </form>
                  {% else %}
                  <td>
                  <a href = "/?next={{request.path}}"><span style="color:red;">Você precisa estar logado para responder</span></a>
                  {% endif %} 
                
              </td>
            


            </tr>
     