{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>Página de cadastro</title>
   <!-- Bootstrap core CSS -->
   <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'forum/css/default.css' %}"rel="stylesheet">
  </head>

  <body>
    <div id = "box">
        
        <div id = "bounds" style="margin-left:33%; width: 33%; margin-right:33%;">
            <img id = "logo" src="{% static 'forum/img/django-forum-logo.png' %}" width="" height="" alt="">
        <form enctype="multipart/form-data" class="form-control" method="POST"> 
        {% csrf_token %}
       
        <label for="avatar" class = "label-margin">Imagem de perfil: </label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/gif">
        <br>

        <label for="username" class = "label-margin">Nome de usuário: </label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Insira o nome de usuário">
        
        <label for="first_name" class = "label-margin">Primeiro nome: </label>
        <input type="text" name="first_name" class="form-control" placeholder="Insira o primeiro nome">

        <label for="last_name" class = "label-margin">Sobrenome: </label>
        <input type="text" name="last_name" class="form-control" placeholder="Insira o sobrenome">

        <label for="email" class = "label-margin">Endereço de email: </label>
        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Insira o email">
        
        <label for="password" class = "label-margin">Senha: </label>
        <input name="password" type="password" id="password" class="form-control" placeholder="(Mín. 8 caracteres)">
        
        <button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-left:20%; width: 60%; margin-right:20%; margin-top:5%">Registrar</button>
        </form>
        
        <div id = "messages">
            {% if request.method == 'POST' %}
            {% if form.errors %}
            {% for field in form %}
            <span style ="color:red;">{{ field.errors }}</span>
            {% endfor %}
            {% endif %}
            {% endif %}
          {% if messages %}
          
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      
    </div>
    
  </body>
</html>
