{% load static %}
{% load tags %}

  {% include './head.html' %}
    <title>Atualizar senha</title>
  </head>

  <body>
    {% include './navbar.html' %}
    <div class = "wd-100 container">   
      <div style = "margin-left:33%;margin-right:33%;width:33%;">
        <form class="form-control" method="POST"> 
          {% csrf_token %}
          
          <div class = "form-group">
            <label for="old_password" class = "label-margin">Senha antiga: </label>
            <input name="old_password" type="password" id="old_password" class="form-control {% if request.method == 'POST' %}{% if form.old_password.errors %} is-invalid" {% endif %}{% endif %}>

            {% if request.method == 'POST' %}
              {% if form.old_password.errors %}
                <div id = "inv-old_password" class="invalid-feedback">{{ form.old_password.errors }}</div>
              {% endif %}
            {% endif %}
          </div>

          <div class = "form-group">
            <label for="new_password1" class = "label-margin">Nova senha: </label>
            <input name="new_password1" type="password" id="new_password1" class="form-control {% if request.method == 'POST' %}{% if form.new_password1.errors %} is-invalid" {% endif %}{% endif %}>

            {% if request.method == 'POST' %}
              {% if form.new_password1.errors %}
                <div id = "inv-old_password" class="invalid-feedback">{{ form.new_password1.errors }}</div>
              {% endif %}
            {% endif %}
          </div>

          <div class = "form-group">
            <label for="new_password2" class = "label-margin">Repita a nova senha: </label>
            <input name="new_password2" type="password" id="new_password2" class="form-control {% if request.method == 'POST' %}{% if form.new_password2.errors %} is-invalid" {% endif %}{% endif %}>

            {% if request.method == 'POST' %}
              {% if form.new_password2.errors %}
                <div id = "inv-old_password" class="invalid-feedback">{{ form.new_password2.errors }}</div>
              {% endif %}
            {% endif %}
          </div>
         
          <button type="submit" class="btn btn-lg btn-primary btn-block">Salvar</button> 
        </form>
      </div>
    </div>
  </body>
</html>