{% load static %}
{% load tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>{{ topico.titulo }}</title>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link href="{% static 'forum/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/css/default.css' %}"rel="stylesheet">
  </head>
  <body>
    {% include './navbar.html' %}
<div class = "wd-100 container">
  <div style = "margin-left:33%;margin-right:33%;width:33%;">
    <form class="form-control" method="POST"> 
      {% csrf_token %}
      <!-- 'old_password', 'new_password1', 'new_password2' -->
      <label for="old_password" class = "label-margin">Senha antiga: </label>
      <input name="old_password" type="password" id="old_password" class="form-control">
      
      <label for="new_password1" class = "label-margin">Nova senha: </label>
      <input name="new_password1" type="password" id="new_password1" class="form-control">

      <label for="new_password2" class = "label-margin">Repita a nova senha: </label>
      <input name="new_password2" type="password" id="new_password2" class="form-control">

      <!-- <label for="password" class = "label-margin">Senha: </label>
        <input name="password" type="password" id="password" class="form-control" placeholder="(Mín. 8 caracteres)">-->
        <button type="submit" class="btn btn-lg btn-primary btn-block">Salvar</button> 
      </form>
      <div id = "messages">
          {% if messages %}
          <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red">{{ message }}</li>
          {% endfor %}
          </ul>
          {% endif %}
        </div>
    </div>
    </div>
    </body>
</html>