{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title>Tópico</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'forum/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/styles.css' %}" rel="stylesheet">
  </head>
<div class = "wd-100 container">
     <table id = "tabela" class="table table-dark" >
        <form action="{% url "criar_topico" %}" class="form-control" method="POST">
            {% csrf_token %}
            
            <!-- form.data_postagem -->
              <thead>
              <tr>
                <th>
                    <label for ="autor">Autor: </label>
                    {{ form.autor }}
                    
                    
                    <!--<input type="text" class="form-control" id="autor">-->
                    <!-- form.autor -->
                   
                    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <label for ="titulo">Título: </label>
                    {{ form.titulo }}
                    <!-- form.titulo -->
                <!--<input type="text" class="form-control" id="titulo">-->
                
                
                </td>
              </tr>
              <tr>
                <td>
                    <label for="texto">Escreva seu tópico: </label>
                    {{ form.texto }}
                    <!--form.topico_texto -->
                
                <!--<textarea class="form-control" rows="5" id="texto"></textarea>-->
                    
                <button class="btn btn-lg btn-primary btn-block" type="submit">Postar tópico</button></td>
              </form>
              </tr>
            </tr>


    





  </div>









</div>



</html>