{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <!--<link rel="icon" href="../../../../favicon.ico"> -->

    <title>Login no forum</title>

   <!-- Bootstrap core CSS -->
   <link href="{% static 'forum/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'forum/styles.css' %}" rel="stylesheet">
   
   <!-- <link href="../../static/forum/bootstrap.min.css" rel="stylesheet">
   <link href="../../static/forum/styles.css" rel="stylesheet"> -->
  </head>

  <body class="text-center">
    <form action="{% url "main" %}" class="form-signin">
      
      <h1 class="h3 mb-3 font-weight-normal">Logue-se</h1>
      <label for="inputUsername" class="sr-only">Nome de usuário</label>
      <input type="email" id="inputUsername" class="form-control" placeholder="Nome de usuário" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; Enzo, 2018</p>
    </form>
  </body>
</html>
