{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <!--<link rel="icon" href="../../../../favicon.ico"> -->

    <title>Lista de tópicos</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'forum/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'forum/styles.css' %}" rel="stylesheet">
    
    <!-- <link href="../../static/forum/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/forum/styles.css" rel="stylesheet"> -->

  <div class = "wd-100 container" id = "container">
    

      <div id = "topicos-lista">
          <a href = "{% url "criar_topico" %}"><button class="btn btn-sm btn-primary btn-block" type="button" class="btn btn-link">Criar Tópico</button></a>
        <table class="table table-dark">
            <thead>
              
              <tr>
                <th>TÓPICOS EXISTENTES: </th>
              </tr>
            </thead>
            <tbody>
                {% for t in topicos_lista %}
              <tr>
                <td><a href = "{% url 'topico' t.id %}">{{ t.titulo }}</a></td>
                <td></td>
                <td>{{ t.data_postagem }}</td>
                <td>{{ t.autor }}</td>
              </tr>
                 {% endfor %}
            </tbody>
          </table>
          

      </div>





    










  </div>











  </html>